# Создано компанией .игнорировать плагин поддержки (hsz.mobi)
### Шаблон Python
# Байт-скомпилированные / оптимизированные / DLL файлы
__pycache__/
*. py[треска]
* $py.класс

# C расширения
*.так

# Дистрибуция / упаковка
.Питон
env/
строить/
развитие-яйца/
расстояние/
Загрузки/
яйца/
.яйца/
либ/
lib64/
части/
сдист/
var/
*.яйцо-инфо/
.установленный.контекстно-свободная грамматика
*.яйцо

# PyInstaller
# Обычно эти файлы пишутся скриптом python из шаблона
# перед тем, как PyInstaller построит exe-файл, чтобы ввести в него дату/другую информацию.
*.манифест
*.спекуляция

# Журналы установки
Пип-лог.формат txt
pip-delete-this-directory.формат txt

# Отчеты о модульном тестировании / покрытии
htmlcov/
.токсикология/
.покрытие
.покрытие.*
.Кэш
носовые тесты.XML
покрытие.XML
*,покрытие
.гипотеза/

# Переводы
*.Миссури
*.горшок

# Django stuff:
*.бревно
local_settings.py

# Колба штука:
пример/
.webassets-кэш

# Лоскутная штука:
.скрэпи

# Документация Сфинкса
docs/_build/

# PyBuilder
цель/

# IPython Ноутбук
.ipynb_checkpoints

# pyenv
.версия Python

# файл расписания ударов сельдерея
сельдерей-расписание

# dotenv
.env

# virtualenv
венв/
ENV/

# Настройки проекта Spyder
.spyderproject

# Настройки веревочного проекта
.канатный проект
## Шаблон # VirtualEnv
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Питон
[Bb]в
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
пывенв.контекстно-свободная грамматика
.венв
Пип-самоконтроль.формат JSON
## Шаблон # JetBrains
# Охватывает JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio и Webstorm
# Ссылка: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# Специфичные для пользователя вещи:
.идея / рабочее пространство.XML
.идея / задачи.XML
.идея / словари
.идея / vcs.XML
.идея / jsLibraryMappings.XML

# Чувствительные или высокооборотные файлы:
.идея / источники данных.идентификационная карточка
.идея / источники данных.XML
.идея / источники данных.Местные новости.XML
.idea / sqlDataSources.XML
.идея / динамика.XML
.идея / uiDesigner.XML

# Грэдл:
.идея / грэдл.XML
.идея / библиотеки

# Плагин Mongo Explorer:
.идея / монгосеттинги.XML

.идея/

## Файловый формат проекта:
*.ИВС

## Файлы, специфичные для плагинов:

# IntelliJ
/из/

# mpeltonen/sbt-idea plugin
.idea_modules/

# Jira плагин
atlassian-ide-плагин.XML

# Crashlytics plugin (для Android Studio и IntelliJ)
com_crashlytics_export_strings.XML
крашлайтикс.свойства
crashlytics-сборка.свойства
ткань.свойства